<% all_comments = @all_comments unless @all_comments.nil? %>
<ul>
<% all_comments[parent_comment.id].each do |comment| %>
  <li>
  <p>Comment author: <%=comment.author%></p>
  <p>Date Created: <%= comment.created_at %></p>
  <a href="<%= comment_url(comment) %>" ><p><%=comment.content%></p></a>
  </li>
  <%= render "comments/comment", parent_comment: comment, all_comments: all_comments %>

<% end %>
</ul>
